



body
{
	width: 700px;
}
*{
background-color: #b3f0ff;}
#tags
{
	background-color: white;
	width: 80%;
	height: 1.4em;
	display:block;
	clear: left;
	float:right;
}
#tags a{
	float:left;
	
}
section h3
{
	border-bottom: 2px solid black;
	
}
form, input{background-color: white;}
[id^=card]
{
	font-family: "Times New Roman", Times, serif;
	 height: 180px;
	 background-color:white;
	 position:relative;
	 width: 95%;
	 float: left;
	 margin-top: 15px;
	 margin-left:10px;
	 border: 1px solid silver;
	 display: block;
}

[id^=card] img
{
	float: left;
	width: 30%;
	margin-right:20px;
}

[id^=card] h5
{
	margin: 5px;
	color: grey;
	text-transform: uppercase;
	background-color: white;
	font-weight: bold;
	overflow: hidden; 
	text-overflow: ellipsis;
	position: relative;
	height: 2.0em;
}
#emotionBar h6
{
	clear:left;
	position:absolute;
	bottom:2px;
	left: 3px;

}
#emotionBar h5
{
	float:left;
	font-size: 20px;
	background-color: white;
	margin:0px;
	padding:0px;
	height: 18px;
}
.card-text{
	background-color: white;
}
#readmore
{
	position: absolute;
	right: 10px;
	bottom:2px;
}
#input{
	width:40%;
	float:left;
}
article p{
	background-color: white;
	font-size: 15px;
	overflow: hidden; 
	text-overflow: ellipsis;
	position: relative;
	height: 2.8em;
}
#sliderContainer{
	width: 50%;
	float: left;
	margin-bottom: 15px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
	float:left;
    height: 5px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
	margin: 10px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}



