#card
{
	
	border: 1px solid black;
	padding: 5px;
	margin: 10px;
}
body
{
	padding: 25px;
	
}

#searchDisplay
{
	border: 3px solid red;
	width: 70%;
	height:30%;
	position: center;
	background-color:grey;
	margin: auto;
	padding:10px;
}

#section h3
{
	color: white;
}

